<h1>餐廳後台</h1>
<a href='/admin/restaurants/create'>
  <button type="button" class="btn btn-primary">New Restaurant</button>
</a>
<a href='/admin/restaurants'>
  <button type="button" class="btn btn-primary">Restaurants</button>
</a>
<a href='/admin/users'>
  <button type="button" class="btn btn-primary">Users</button>
</a>