{{!-- 這裡使用hbs.helpers來完成 不是res.locals --}}
<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">© 2017-{{ currentYear }}</span>
  </div>
</footer>