<div class="container" style="background-color: white; height: 66vh; width: 60vw;">
  <div class="row">
    <div class="col-md-5">
      <img src="{{user.image}}" alt="Image" class="img-fluid" style="height:400px; width:500px">
    </div>
    <div class="col-md-7">
      <br>
      <h3>{{user.name}}</h3>
      <br>
      <p>{{user.email}}</p>
      <br>
      <a href="/users/{{user.id}}/edit"><button class="btn btn-primary my-sm-0 my-2">edit</button></a>
    </div>
  </div>
</div>